<head></head>
<body>
	<form name="nameForm" method="POST">
		<input name="firstName" type="text" placeholder="First Name"><br>
		<input name="lastName" type="text" placeholder="Last Name"><br>
    <input type="email" name="email" placeholder="Email Address">
    <button type="submit">Submit</button>
  </form>
</body>
